@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
    font-family: 'Roboto Condensed', sans-serif;
}

main {
    max-width: 900px;
}

#landing {
    height: 50vh;
    text-align: center;
}

#landing h1 {
    margin: 0;
}

img {
    display: block;
    width: 100%;
}